<!-- <p>
  search-form works!
</p> -->
<h3 class="d-flex justify-content-center mt-5">Welcome to StackOverflow Negative Comments Detection Demo</h3>
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="col-md-10 mx-auto pt-5">
    <ng-template [ngIf]="searchUser">
      <label for="userId">Enter SO UserId:</label>
      <div class="form-row align-items-center">         
          <div class="col-md-8">
              <input class="form-control" [(ngModel)]="userId" name="userId" id="userId" />
          </div>
          <div class="col-auto">
              <button class="btn btn-primary" type="submit" [disabled]="!userId">Search</button>
          </div>          
      </div>
      <hr />
      <button class="btn btn-primary mt-1" (click)="onSwitch()">Switch To Comment</button>      
    </ng-template>
    <ng-template [ngIf]="!searchUser">
      <div class="form-group">
        <label for="comment">Enter Comment for classification:</label>
        <textarea class="form-control" id="comment" rows="5" style="resize: none;" name="comment" [(ngModel)]="comment" ></textarea>
        <div class="d-flex justify-content-end">
            <button class="btn btn-primary mt-1 mr-2" (click)="onSwitch()">Switch To UserId</button>
            <button class="btn btn-primary mt-1" type="submit" [disabled]="!comment">Classify</button>
        </div>        
      </div>
    </ng-template>    
  </div>
</form>