**/__pycache__/
__pycache__/
*.pyc
.DS_Store
DataSample/
Data/
handleLowScorePosts.py
MongodbClient.py
markComments.py
**/node_modules/
CNN/**/*.csv
CNN/**/word2vec_model
CNN/**/word2vec_vec

tfidf_termfrequency.ipynb
demoWeb/server/public