<!-- <p>
  comment-list works!
</p> -->

<div class="row mb-5" *ngFor="let c of commentList" >
  <div class="col-md-10">
    <div [innerHTML]="getHtml(c.comment)"></div>
  </div>
  <div class="col-md-2 align-self-center">
    <div class="progress bg-dark">
      <div class="progress-bar bg-danger" 
           role="progressbar" 
           [style]="getStyle(c[modelSelection])"
           attr.aria-valuenow="{{getValue(c[modelSelection])}}"
           aria-valuemin="0"
           aria-valuemax="100"
      >{{getValue(c[modelSelection]) +'%'}}</div>
    </div>
  </div>
</div>